{% extends 'portfolio_app/base_template.html' %}
{% block content %}

<h1>Delete Project</h1>
<div class="container-fluid">
    <h5>Are you sure you want to delete "{{ project.title }}"?</h5>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Confirm Delete</button>
            </form>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url 'portfolio-detail' pk=project.portfolio.id %}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}